{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "> 0.25%, not dead",
        "useBuiltIns": "entry",
        "corejs": "3.36"
      }
    ], 
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
