// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@use "sass:map";
@use "node_modules/@picocss/pico/scss/pico";

@import "node_modules/@picocss/pico/scss/pico.colors.scss";

@import "./loveVanilla/style.scss";

:root {
  // --pico-font-family: Pacifico, cursive;
  --pico-border-radius: 0.5rem;
  --pico-typography-spacing-vertical: 1.5rem;
  --pico-form-element-spacing-vertical: 1rem;
  --pico-form-element-spacing-horizontal: 1.25rem;
}

header {
  display: flex;
  justify-content: space-between; /* This will push items to the sides */
  align-items: center; /* Center items vertically */
  --pico-font-weight: 400;
}

footer {
  font-size: small;
  font-style: italic;
  // --pico-font-family: Pacifico, cursive;
  // --pico-font-weight: 400;
  // --pico-typography-spacing-vertical: 0.5rem;
}

h1 {
  --pico-font-weight: 400;
  --pico-typography-spacing-vertical: 0.5rem;
  margin: 0; /* Remove default margin */
}

h2 {
  --pico-font-weight: 700;
  --pico-typography-spacing-vertical: 0.5rem;
}

article h2.rank {
  font-size: 1.5rem;
  --pico-font-weight: 700;
  --pico-typography-spacing-vertical: 0.5rem;
}

article h1 {
  font-size: medium;
  --pico-font-weight: 700;
  --pico-typography-spacing-vertical: 0.5rem;
}

article h2 {
  font-size: medium;
  --pico-font-weight: 700;
  --pico-typography-spacing-vertical: 0.5rem;
}

// section#club-list details article div
em {
  background-color: #505050;
  font-weight: 600;
  // font-size: x-large;
}

.nav-badges {
  display: flex;
  gap: 1rem;
}

.love-vanilla-js-badge {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #f7df1e;
  color: #333;
  border-radius: 12px;
  text-decoration: none;
  font-size: 14px;
}

summary.club-result {
  --pico-font-family: var(--pico-font-family-monospace);
  --pico-font-weight: 700;
  font-size: 1.05rem;
  margin-bottom: 1cap;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

a.search-title {
  --pico-font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #e5e5e5;
  padding: 0em 1em 0 0;
}

a.search-title:hover {
  opacity: 0.8;
}

button {
  --pico-font-weight: 700;
}

#code-inputs {
  display: flex;
  justify-content: space-between;
}

.iti {
  width: 100%;
}

#loading-bar-spinner.spinner {
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  position: absolute;
  z-index: 9999 !important;
  animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
  width: 60px;
  height: 60px;
  border: solid 10px transparent;
  border-top-color: #00c8b1 !important;
  border-left-color: #00c8b1 !important;
  border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loading-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px); /* Apply a blur effect */
  -webkit-backdrop-filter: blur(1px); /* For Safari */
  /* Ensure it appears above other elements */
  z-index: 9998;
  /* Initially hidden */
  display: none;
}

.page-badge {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 12px;
  text-decoration: none;
  font-size: 14px;
  font-stretch: semi-condensed;
}

.page-badge svg {
  margin-right: 5px;
  height: 18px;
  width: 18px;
}

.page-badge:hover {
  background-color: #24292e;
}

.site-title {
  font-size: larger;
  font-weight: 700;
  color: #f8f9fa; /* Light text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), 0 0 10px rgba(255, 255, 255, 0.5);
  font-family: "Poppins", sans-serif; /* Modern and clean font */
  letter-spacing: 0.05em; /* Adds slight spacing between letters */
}

.footer-badge {
  display: inline-flex;
  align-items: center;
  background-color: #e5e5e5;
  padding: 0.6em 1em;
  border-radius: 5px;
  text-decoration: none;
  color: black !important;
  font-weight: bold;
  cursor: default;
}

.footer-badge img {
  height: 30px;
  width: 30px;
  margin-left: 1em;
}

.paypal-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #0070ba;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}

.paypal-button:hover {
  background-color: #005e94;
}

.paypal-icon {
  width: 24px; /* Adjust size as needed */
  height: auto;
  margin-right: 10px; /* Space between icon and text */
}

summary {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

#club-list {
  .club-logo {
    width: 2em;
    height: 2em;
  }
}

.club-logo {
  margin-right: 10px; /* Space between the logo and the title */
}

span.club-logo-frame {
  display: flex; /* Flexbox to center the logo */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  width: 5em; /* Equal width and height for round shape */
  height: 5em;
  border: 1px solid #000; /* Frame border */
  border-radius: 50%; /* Makes the frame circular */
  overflow: hidden; /* Ensures the logo doesn't overflow */
}

article.club-info header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

article.club-info header {
  display: flex;
  align-items: center;
  gap: 1rem;
  vertical-align: bottom;
}

article.club-info header img {
  width: 3.8em;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  padding: 0.01em;
  border: #e5e5e5 solid 3px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3),
    0 1px 3px rgba(255, 255, 255, 0.2);
}

article.club-info header h5 {
  margin: auto 0;
}

table.team-table a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #e5e5e5;
}

a.coach-search-google,
a.player-search-google {
  margin-right: 0.5em;
  text-decoration: none;
  text-decoration-skip-ink: none;
  color: #e5e5e5;
}

a.player-page {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #e5e5e5;
}

/* Full-page loader */
#loading-screen {
  position: fixed;
  /* Ensure it covers the whole viewport */
  top: 0;
  left: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgba(29, 98, 209, 1);
  /* White background with slight transparency */
  display: flex;
  /* Flexbox to center content */
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /* Place above all other content */
}

/* Optional: Add a fade-out animation when loading is done */
.hidden {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.spinner {
  width: 8em;
  height: 8em;
}
