// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@use "sass:map";
@use "node_modules/@picocss/pico/scss/pico";

@import "node_modules/@picocss/pico/scss/pico.colors.scss";

@import "./loveVanilla/style.scss";

:root {
  // --pico-font-family: Pacifico, cursive;
  --pico-border-radius: 0.5rem;
  --pico-typography-spacing-vertical: 1.5rem;
  --pico-form-element-spacing-vertical: 1rem;
  --pico-form-element-spacing-horizontal: 1.25rem;
}

header {
  display: flex;
  justify-content: space-between; /* This will push items to the sides */
  align-items: center; /* Center items vertically */
  --pico-font-weight: 400;
}

footer {
  font-size: small;
  font-style: italic;
  // --pico-font-family: Pacifico, cursive;
  // --pico-font-weight: 400;
  // --pico-typography-spacing-vertical: 0.5rem;
}

.club-logo {
  margin-right: 10px; /* Space between the logo and the title */
}

h1 {
  --pico-font-weight: 400;
  --pico-typography-spacing-vertical: 0.5rem;
  margin: 0; /* Remove default margin */
}

h2 {
  --pico-font-weight: 700;
  --pico-typography-spacing-vertical: 0.5rem;
}

article h2.rank {
  font-size: 1.5rem;
  --pico-font-weight: 700;
  --pico-typography-spacing-vertical: 0.5rem;
}

article h1 {
  font-size: medium;
  --pico-font-weight: 700;
  --pico-typography-spacing-vertical: 0.5rem;
}

article h2 {
  font-size: medium;
  --pico-font-weight: 700;
  --pico-typography-spacing-vertical: 0.5rem;
}

// section#club-list details article div
em {
  background-color: #505050;
  font-weight: 600;
  // font-size: x-large;
}

.nav-badges {
  display: flex;
  gap: 1rem;
}

.love-vanilla-js-badge {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #f7df1e;
  color: #333;
  border-radius: 12px;
  text-decoration: none;
  font-size: 14px;
}

summary.club-result {
  --pico-font-family: var(--pico-font-family-monospace);
  --pico-font-weight: 700;
  font-size: 1.05rem;
  margin-bottom: 1cap;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

button {
  --pico-font-weight: 700;
}

#club-list {
  .club-logo {
    max-width: 5em;
    max-height: 5em;
  }
}

#code-inputs {
  display: flex;
  justify-content: space-between;
}

.iti {
  width: 100%;
}

#loading-bar-spinner.spinner {
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  position: absolute;
  z-index: 9999 !important;
  animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
  width: 60px;
  height: 60px;
  border: solid 10px transparent;
  border-top-color: #00c8b1 !important;
  border-left-color: #00c8b1 !important;
  border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loading-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px); /* Apply a blur effect */
  -webkit-backdrop-filter: blur(1px); /* For Safari */
  /* Ensure it appears above other elements */
  z-index: 9998;
  /* Initially hidden */
  display: none;
}

.page-badge {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 12px;
  text-decoration: none;
  font-size: 14px;
  font-stretch: semi-condensed;
}

.page-badge svg {
  margin-right: 5px;
  height: 18px;
  width: 18px;
}

.page-badge:hover {
  background-color: #24292e;
}

.site-title {
  font-size: larger;
  font-weight: 700;
}

// .footer-badge {
//   // margin: 0 0.2rem;
//   height: 10em;
//   width: auto;
//   background-color: hsl(0, 0%, 100%);
//   padding: 1px 1px;
//   display: inline-flex;
//   align-items: center;
//   border-radius: 5px;
// }

.footer-badge {
  display: inline-flex;
  align-items: center;
  background-color: #e5e5e5;
  padding: 0.6em 1em;
  border-radius: 5px;
  text-decoration: none;
  color: black !important;
  font-weight: bold;
  cursor: default;
}

.footer-badge img {
  height: 30px;
  width: 30px;
  margin-left: 1em;
}

.paypal-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #0070ba;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}

.paypal-button:hover {
  background-color: #005e94;
}

.paypal-icon {
  width: 24px; /* Adjust size as needed */
  height: auto;
  margin-right: 10px; /* Space between icon and text */
}
