// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@use "sass:map";
@use "node_modules/@picocss/pico/scss/pico";

@import "node_modules/@picocss/pico/scss/pico.colors.scss";

header {
  display: flex;
  justify-content: space-between; /* This will push items to the sides */
  align-items: center; /* Center items vertically */
  --pico-font-weight: 400;
}

footer {
  font-size: small;
  font-style: italic;
  // --pico-font-family: Pacifico, cursive;
  // --pico-font-weight: 400;
  // --pico-typography-spacing-vertical: 0.5rem;
}

.club-logo {
  margin-right: 10px; /* Space between the logo and the title */
}

h1 {
  margin: 0; /* Remove default margin */
}

:root {
  --pico-border-radius: 1rem;
  --pico-typography-spacing-vertical: 1.5rem;
  --pico-form-element-spacing-vertical: 1rem;
  --pico-form-element-spacing-horizontal: 1.25rem;
}

h2 {
  // --pico-font-family: Pacifico, cursive;
  --pico-font-weight: 400;
  --pico-typography-spacing-vertical: 0.5rem;
}

button {
  --pico-font-weight: 700;
}

// @import "node_modules/@picocss/pico/scss/variables";
// @import "node_modules/@picocss/pico/scss/colors";

#club-list {
  .club-logo {
    max-width: 5em;
    max-height: 5em;
  }
}

.love-vanilla-body {
  opacity: 0;
  display: none; /* Ensure it doesn’t appear at all */
}

.love-vanilla-body.show-up {
  display: block;
}

.love-vanilla-body.fade-in {
  opacity: 1;
  transition: opacity 1s ease; /* Fade-in duration */
}

#code-inputs {
  display: flex;
  justify-content: space-between;
}

.iti {
  width: 100%;
}

#loading-bar-spinner.spinner {
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  position: absolute;
  z-index: 9999 !important;
  animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
  width: 60px;
  height: 60px;
  border: solid 10px transparent;
  border-top-color: #00c8b1 !important;
  border-left-color: #00c8b1 !important;
  border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loading-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px); /* Apply a blur effect */
  -webkit-backdrop-filter: blur(1px); /* For Safari */
  /* Ensure it appears above other elements */
  z-index: 9998;
  /* Initially hidden */
  display: none;
}
